  html, body {
    margin: 0;
    padding-bottom: 32px;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    align-content: center;
    align-items: center;
    text-align: center;
    
  }
  body {
    background-color: #dee3f0;
    padding: 0;
    margin-bottom: -40px;
  }
  .hero {
    z-index: -10;
    position: absolute;
    width: 100vw;
    overflow: visible;
    min-height: 130vh;
  }
  
  .hero img {
    display: block;
    position: absolute;
    height: 200vh;
    width: 100vw;
    margin-top: -40vh;
    overflow: visible;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  
  .download {
    margin-top: -380px;
    margin-left: 380px;
  	position: absolute;
  	display: inline-block;
  }
  
	.hero-iphone {
	  margin-top: 60px;
	  margin-bottom: 80px;
	  height: 744px;
	  width: 309px;
	  background: url(gfx/hero-iphone@2x.png);
	  background-size: 309px 744px;
		background-repeat: no-repeat;
		background-position: center center;
    transition: 0.35s;
	}
	.video {
	  height: 697px;
	  width: 265px;
	  margin-top: 22px;
	  margin-right: 20.8px;
	  border-radius: 280px 40px 40px 280px/55px 40px 40px 55px;
    transition: 0.35s;
  }
  .dark-video {
    display: none;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 95%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  .handla-logo {
    margin-top: 60px;
    width: 443px;
    height: 185px;
    transition: 0.35s;
  }
  .vignette {
    font-size: 1.8em;
    margin: 0 0 1vw 0;
    transition: 0.35s;
  }
  h2 {
    font-weight: bold;
    font-size: 3em;
    margin: 0 4vw;
  }
  .tagline {
    display: inline;
    position: relative;
  }
  .tagline span {
    position: absolute;
    top: 1.25em;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .tagline span:first-child { position: relative; }
  .tagline span.active { top: 0; opacity: 1; }
  .tagline span.goingAway { top: -1em; opacity: 0; }
  
  .cards {
    max-width: 1400px;
    margin-top: 65px;
  }
  
  .card {
    transition: 0.35s; 
    background-color: white;
    border-radius: 32px;
    padding: 32px;
    margin: 12px;
    max-width: 312px;
    min-height: 208px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.06);
  }
  
  .card h1  {
    font-size: 1.5em;
  }
  
  .card p {
    font-size: 1.125em;
    line-height: 25px;
    opacity: 0.7;
    margin: 0;
    padding: 0;
  }
  
  .button {
    display: inline-block;
    height: 64px;
    line-height: 64px;
    width: 334px;
    border-radius: 32px;
    font-size: 1.375em;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
	  transition: 0.35s;
	  margin-bottom: 8px;
  }

  .button-primary {
    margin-top: 40px;
    color: white;
    background-color: black;
  }
  
  .button-secondary {
    margin-top: 16px;
    color: black;
    background-color: white;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.16); 
  }
  
  .button-primary:hover {
	  background-color: #676772;		  
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.32);
  }
	
  .button-secondary:hover {
	  background-color: rgba(120, 120, 128, 0.16);
    box-shadow:none;
  }
  
  .background-fade {
    background: linear-gradient(0deg, rgba(223,227,239,1) 0%, rgba(223,227,239,0) 100%);
    width: 100%;
    margin-top: -200px;
    height: 280px;
  }

  .bend {
    bottom: -1px;
    height: auto;
    width: 102vw;
    left: -1vw;
    margin-top: -1px;
    margin-bottom: 16px;
  }
  
  footer {
    font: -apple-system-footnote;
    font-size: 0,6875em;
    text-align: center;
    color: #7f7f7f;
    padding-bottom: 64px;
    overflow: hidden; 
    background-color: white;
  }
  
  .copyright-notice {
    margin-left: 22vw;
    margin-right: 22vw;
  }
  
  .copyright-notice a {
    color: black;
    text-decoration: none;
  }
  
  .copyright-notice a:hover {
    text-decoration: underline;
  }
  
  .plantry {
    width: 312px;
    height: 122px;
    margin: auto;
  }
  .makers {
    font-variant: small-caps;
    letter-spacing: 5.5px;
    position: relative;
    top: 35px;
  }
  
  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    body { background: #1A1B20; }
    .wrapper { color: #fff; }
    .bend path { fill: #1A1B20; }
    .hero { background-image: url('gfx/header-dark.jpg'); background-color: #1A1B20; }
    .dark-video { display: inline; }
    .light-video { display: none; }
    .plantry path { fill: #fff; }
    .button-primary {color: black; background-color: white;}
    .button-secondary {color: white; background-color: black; box-shadow: none;}
    .button-primary:hover { background-color: rgba(255, 255, 255, 0.6); }
  	.button-secondary:hover { background-color: #242426;}
  	.hero-iphone { background: url(gfx/hero-iphone-dark@2x.png); background-size: 309px 744px; background-repeat: no-repeat; background-position: center center; }
    .handla-logo {  
      -webkit-filter: invert(1) drop-shadow( 0 0 32px rgba(0, 0, 0, 1));
      filter: invert(1)  drop-shadow( 0 0 32px rgba(0, 0, 0, 1));}
    .card { background-color: #27282E; }
    .background-fade { background: linear-gradient(0deg, rgba(26,27,32,1) 0%, rgba(26,27,32,0) 100%); }
    footer { background-color: black;}
    .copyright-notice a { color: white; }
  )
  
  }
  /* Tablet landscape */
  @media screen and (max-height: 920px) {   
    .hero img {
      height: 160vh;
      width: 100vw;
      margin-top: 0;
    }
  }
    
  /* Mobile Lanscape */
  @media screen and (max-height: 567px) {   
    .hero img {
      height: 300vh;
      width: 100vw;
      margin-top: 0;
    }
  }
  
	  
  /* Very tall & narrow */
  @media screen and (max-width: 1538px) and (min-height: 1200px) {
      .hero img {
      height: 150vh;
      width: 100vw;
      margin-top: -30vh;
    } 
  }
    	  
  /* Laptop */
  @media screen and (max-width: 1538px) {
    
		.button { height: 50px; line-height: 50px; width: 264px; border-radius: 25px; font-size: 1.0625em;}
    .button-primary { margin-top: 24px;}
    .button-secondary { margin-top: 12px;}
    
    .hero-iphone {()
      margin-top: 20px;
      margin-bottom: 70px;
      height: 595px;
      width: 247px;
      background-size: 247px 595px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    
    .video {
      height: 559px;
      width: 213px;
      margin-top: 16.5px;
      margin-right: 15px;
      border-radius: 220px 30px 30px 220px/45px 30px 30px 45px; 
    }

    .handla-logo {
      margin-top: 60px;
      width: 345.4px;
      height: 148px;
    }
    
    .cards {
      margin-top: 40px;
    }
    
    .card {
      border-radius: 24px;
      padding: 24px;
      margin: 10px;
      max-width: 280px;
      min-height: 200px;
      box-shadow:0 4px 8px rgba(0, 0, 0, 0.06);
    }
    
    .card h1  {
      margin-top: 16px;
      font-size: 1.125em;
    }
    
    .card p {
      font-size: 1em;
      line-height: 24px;
    }
  }	 

  
  /* Mobile */
  @media screen and (max-width: 580px) {
    .hero img {
      height: 150vh;
      width: 100vw;
      margin-top: 0;
    }
    
    .vignette { font-size: 1.2em; }
    h2 { font-size: 1.8em; }
		.hero {min-height: 100vh;}
    .hero-iphone {
      margin-top: 20px;
      margin-bottom: 40px;
      height: 595px;
      width: 247px;
      background-size: 247px 595px;
      background-repeat: no-repeat;
      background-position: center center;
    }   
    .video {
      height: 559px;
      width: 213px;
      margin-top: 16.5px;
      margin-right: 15px;
      border-radius: 220px 30px 30px 220px/45px 30px 30px 45px; 
      margin-bottom: 100px;
    }
    
    .video {
      height: 559px;
      width: 213px;
      margin-top: 16.5px;
      margin-right: 15px;
      border-radius: 220px 30px 30px 220px/45px 30px 30px 45px; 
    }

    .handla-logo {
      margin-top: 20px;
      width: 300px;
      height: 123.4px;
    }
  } 

  /* Mobile small */
  @media screen and (max-width: 320px) {
    .vignette { font-size: 1.2em; }
    h2 { font-size: 1.6em; }
    .button-primary { margin-top: 16px;}
    .button-secondary { margin-top: 8px;}
    
    .cards {
      margin-top: 40px;
    }
    
    .card {
      border-radius: 16px;
      padding: 16px;
      margin: 8px;
      max-width: 280px;
      min-height: 200px;
      box-shadow:0 4px 8px rgba(0, 0, 0, 0.06);
    }
    
    .card h1  {
      margin-top: 16px;
      font-size: 1.125em;
    }
    
    .card p {
      font-size: 1em;
      line-height: 24px;
    }  
  }
  
  /* Desktop */
  @media screen and (min-width: 1538px) {
    .vignette { font-size: 2.5em; }
    h2 { font-size: 4em; }
  }
  
  /* Retina images */
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 429px), (min-resolution: 192dpi) and (min-width: 429px) {
/*     .hero { background-image: url('gfx/header@2x.jpg'); } */
  }
  @media (prefers-color-scheme: dark) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 429px), (prefers-color-scheme: dark) and (min-resolution: 192dpi) and (min-width: 429px) {
/*     .hero { background-image: url('gfx/header-dark@2x.jpg'); } */
  }